*{margin: 0;
padding:0;
box-sizing:border-box; }

body{
font-family: 'Montserrat', sans-serif;
font-weight: normal;
  background-color: #f1f6f9;
  color:#394867;
}

hr{
  width:10%;
}

.main-box{
  padding: 0 150px  0 150px;
}

/* nav bar starts */
.navigation-menu {
  background-color: #2ecc71;
}

.navbar-brand {
  font-family: 'ubuntu', sans-serif;
  font-size: 35px;
  color: #eeeeee;
  position: relative;
}

.rohn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.rohn:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-right: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: #D3D3D3 !important;
  position: relative;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
  visibility: visible;
  width: 100%;
}

/* navbar ends */


#header{
  position: relative;
  width: 100%;
  height:85vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  color:#fff;
}

#header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: #2ecc71;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(1.5);
}

#header .siteInfo{
  position: relative;
  z-index: 1;
  margin: 180px auto;
  max-width: 900px;
  text-align: center  ;
}
.siteInfo h1{
font-family: 'Ubuntu', sans-serif;
font-size: 4rem;
margin: 0;
padding: 0;
}

.siteInfo p{
  font-size: 1.5rem;;
  }





/* about */

#about{
  color: #394867;
  text-align: center;
  padding: 100px 150px;
  height: 100vh;
}
#about hr{
  border : 2px solid #fff;
}
#about h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

#about p{
  font-weight: normal;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 4;
  font-family: 'Ubuntu', sans-serif;
}


/* testimonial section */
.testimonials {
  margin-top: 100px;
  background-color: #2ecc71 !important;
  color:#fff;
}

.testi {
  height: 500px;
  display: flex;
  justify-content: center;
}

.testi-img {
  width: 20%;
}

.testi-comment {
  width: 60%;
}

.testi-comment p {
  letter-spacing: 3px;
  margin-top: 150px;
  text-align: justify;
}

.person-img {
  border-radius: 50%;
  margin-top: 150px;
  height: 200px;
}


/* services section */
.service-heading{
  margin: 0;
  padding-top: 100px;
  background-color: #2ecc71;
  color: #FFF;
  font-size: 3rem;
  text-align: center;
}
.services{
  color:#f2d64d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#2ecc71,#2ecc71 50%, #fff 50%,#fff 100%);
}
.container{
  width:1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .box{
   position: relative;
   width:320px;
background: #FFF;
padding:100px 40px 60px;
box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.container .box:before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#2ecc71;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.container .box:hover:before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.container .box h2{
  position: absolute;
  left: 40px;
  top:60px;
  font-size: 4rem;
  font-weight: 800;
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;
  color:#e67e22;
}
.container .box:hover h2{
  opacity: 1;
  color:fff;
  transform: translateY(-40px);
}

.container .box h3{
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
  color:#394867;
  transition: 0.5s;
}
.container .box p{
  position: relative;
  z-index: 2;
  color:#9ba4b4;
  transition: 0.5s;
}

.container .box:hover h3,
.container .box:hover p{
  color:#fff;
}


/* the counter section */

.counting{
  /* position: relative;
  top:50%; */
  width:100%;
}
.counting-sec{
  padding:80px 0;
  width:100%;
  background: linear-gradient(45deg, #27ae60, #2ecc71);
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.circle{
  border: 5px solid #fff;
  padding:15px;
  border-radius: 50%;
}
.circle:hover{
  color:#27ae60;
  background-color: #fff;
}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color:#fff;
  text-transform: uppercase;
}
.col i{
  font-size: 48px;
}
.num{
  font-size: 20px;
  margin: 20px 0;
}
.process-head{text-align: center;
  color:#fff;
  font-size: 48px;
  /* background: linear-gradient(45deg, #27ae60, #2ecc71); */
  margin-bottom: 60px;
}





/* pricing section */

.pricing-head{
  text-align: center;
  font-size: 48px;
  margin-top:200px;
  margin-bottom:50px;
}

.pricing{
  margin:0;
  background-color: #f1f6f9;
  /* min-width: 100vw; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
/* font family goes here */
}

.price-comparison{
display: flex;
justify-content: center;
align-items: stretch;
width:100%;
margin:1rem;
}

.price-column{
  background-color: #FFF;
  box-shadow:0 7px 30px rgba(52,31,97,0.1);
  padding:2rem;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 275px;
  border-radius: 8px;;
}

.price-column.popular{
  position: relative;
background-color:#27ae60 ;
color:#fff;
box-shadow:0 7px 30px rgba(52,13,135,0.3);
margin-top: -1.5rem;
padding-top:3.5rem;
margin-bottom: -1.5rem;
padding-bottom: 3.5rem;
}


.price-column:first-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-column:last-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.price-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font family goes here */
  font-weight: bold;
}
.price{
  font-size: 3.5rem;
  display: flex;
}
.dollar-sign{
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-right: .25rem;
}

.per-month{
  font-size: .75rem;
  align-self: flex-end;
  margin-bottom: 1.1rem;
  text-transform: uppercase;
}
.plan-name{
  text-transform: uppercase;
  font-size: .9rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.divider{
  height:1px;
  width:100%;
  background-color: #ccc;
  margin: 2rem 0rem 2rem 0rem;
}
.price-column.popular .divider{
  background-color: #fff;
}

.feature{
  display: flex;
  align-items: center;
  margin: .5rem;
}

.feature img{
  height:1.1rem;
  width:1.1rem;
  margin-right:.5rem;
}

.feature.inactive{
  color:#999;
  text-decoration-line: line-through;
}

.most-popular{
  position: absolute;
  top: .5rem;
  left: .5rem;
  right: .5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* font family goes here */
}

.cta{
  border: none;
  border-radius: 4px;;
  background-color: #27ae60;
  color: #fff;
  width:100%;
  padding:.75rem 1rem;
  cursor: pointer;
  margin-top:3rem;
  transform: scale(1);
  transition: 100ms;
  /* font family goes here */
}

.cta:hover, .cta:focus{
  transform: scale(1.1);
}

.price-column.popular .cta{
  background-color: #fff;
  color:#27ae60;
}
/*  */


/* contact Section */
#contact {
  text-align: center;
  padding: 100px;
}

.cont {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.address {
  width: 50%;
  text-align: left;

  border-right: 1px solid black;
}

.map {
  width: 50%;
  text-align: left;
  padding-left: 100px;
}



/*  */

/* Footer */
.footer-bs {
  text-align: center;
    background-color: #27ae60;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px;}
.footer-bs .footer-nav ul.pages li { padding:5px 120px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}







/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
